# Default ignored files
/.metadata/
.classpath
.editorconfig
.factorypath
.gitattributes
.idea/
.mvn/
.project
.settings/
README.md
mvnw.cmd
node/
node_modules/
package-lock.json
target/
yarn.lock
/.idea/jsLibraryMappings.xml
/.idea/libraries/tsconfig_roots.xml
/.vscode/settings.json
/out/production/main/com/eclinso/sumfox/config/MethodSecurityConfiguration.txt
/src/main/main.iml
.idea
libraries
pom.xml
job4j_elementary.iml
src